:root {
    --cor-principal: #C84949;
    --branco: #FFFFFF;

    --fonte-principal: sans-serif;
}

.container__geral {
    align-items: center;
    background: var(--cor-principal);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-principal);
    justify-content: center;
}

.titulo__site {
    font-size: 1.25em;
    margin: 1em 0 1em 5vw;
    align-self: flex-start;
}

.cronometro__container {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    margin: 0 5vw;
    width: 90vw;
}

.btn-comecar {
    background-color: var(--branco);
    border: none;
    border-bottom: 0.5rem solid #AAAAAA;
    border-radius: 0.5rem;
    color: var(--cor-principal);
    font-size: 1.25rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
}